body
        {
        background-color: ivory;
        }

h1
        {
        text-align: center;
        color: ivory;
        font: 3em Times, serif;
        background: darkslategray;
        border: 5px solid black;
        margin-bottom: 0;
        padding: 20px;
        text-align: center;
        }

p
        {
        font-size: 20px;        
        }

a
        {
        color: green;
        text-decoration: none;
        }

a:visited
        {
        color: darkslategray;
        }

a:hover
        {
        text-decoration: underline;
        }

h2
        {
        color: darkslategray;
        text-decoration: underline;
        }

#ptamm
        {
        float: left;
        width: 260px;
        }

#sword
        {
        float: right;
        width: 420px;
        }

.nav
        {
        height: 48px;
        background: darkslategray;
        margin-top: 0px;
        }

.nav ul
        {
        margin: 0;
        padding: 0;
        }

.nav ul li
        {
        list-style: none;
        }

.nav ul li a
        {
        text-decoration: none;
        font-size: 24px;
        float: left;
        display: block;
        padding: 9px 20px;
        color: ivory;
        background: darkslategray;
        }

.nav ul li a:hover
        {
        text-decoration: underline;
        color: darkslategray;
        background: ivory;
        }

/*
https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_colspan
Date: 2018-10-05
*/

table, th, td
        {
        border: 2px solid darkslategray;
        border-collapse: collapse;
        padding: 15px;
        }