body
        {
        background-color: ivory;
        }
       
#pic
        {
        float: left;
        width: 110px;
        }

.downloadprompt h1
        {
        text-align: center;
        color: ivory;
        font: 3em Times, serif;
        background: darkslategray;
        border: 5px solid black;
        padding: 20px;
        margin-bottom: 0;
        text-align: center;
        }

.downloadprompt a
        {
        color: ivory;
        }

.downloadprompt a:hover
        {
        color: black;    
        }

.downloadprompt .prompttext
        {
        visibility: hidden;
        width: 200px;
        background-color: ivory;
        color: black;
        text-align: center;
        position: absolute;
        font-size: 20px;
        z-index: 1;             /* Stack order: lower z-index behind higher z-index */
        border-radius: 5px;     /* Give the border rounded corners */
        }

.downloadprompt h1 a:hover .prompttext
        {
        visibility: visible;
        }

.nav
        {
        height: 48px;
        background: darkslategray;
        margin-top: 0px;
        }

.nav ul
        {
        margin: 0;
        padding: 0;
        }

.nav ul li
        {
        list-style: none;
        }

.nav ul li a
        {
        text-decoration: none;
        font-size: 24px;
        float: left;
        display: block;
        padding: 9px 20px;
        color: ivory;
        background: darkslategray;
        }

.nav ul li a:hover
        {
        text-decoration: underline;
        color: darkslategray;
        background: ivory;
        }

.contact li
        {
        list-style: none;
        }

h2
        {
        color: darkslategray;
        }

.hrname
        {
        text-align: center;
        color: darkslategray;
        }

h3
        {
        text-decoration: underline;
        color: darkslategray;
        }