*,
*::before,
*::after {
  box-sizing: inheret;
}

/* GLOBAL VARIABLES */

:root {
  --clr-secondary: rgb(41, 41, 41);
  --clr-primary: rgb(73, 231, 52);
  --clr-text-secondary: white;
  --clr-accent: yellow;
}

/* GENERAL VARIABLES (NO ID OR CLASS) */

html {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: var(--clr-secondary);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

nav a {
  color: var(--clr-text-secondary);
  display: inline-block;
  padding: 0.5em;
}

nav a:hover,
nav a:focus {
  color: var(--clr-accent);
}

p {
  line-height: 1.5em;
  max-width: 75ch;
  font-size: 1.25em;
}

h3 {
  font-size: 1.5em;
  color: var(--clr-secondary);
}

/* FONTS AND LAYOUTS */

.site-title {
  font-size: 5em;
  color: var(--clr-primary);
}

.site-title.main {
  font-size: 4em;
  font-style: italic;
  text-align: center;
}

.section-welcome {
  padding: 1em 1em;
  background-color: var(--clr-secondary);
}

.section-welcome-text {
  /* padding: 5em 5em; */
  color: var(--clr-text-secondary);
}

.section-about {
  /* background-image: url("../Pictures/patrick.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}

.section-title {
  font-size: 2.5em;
  color: var(--clr-primary);
}

.section-about-history {
}

.profile-image {
  float: left;
  padding: 1.5em 1em;
}

/* BUTTONS */

/* FORMS */
