body
        {
        background-color: ivory;
        }
h1
        {
        text-align: center;
        color: ivory;
        font: 4em Times, serif;
        background: darkslategray;
        border: 5px solid black;
        padding: 20px;
        margin-bottom: 0;
        }

p
        {
        font-size: 25px;
        }

#welcome
        {
        text-align: center;
        color: darkslategray;
        font-size: 50px;
        }


.nav
        {
        height: 48px;
        background: darkslategray;
        margin-top: 0px;
        }

.nav ul
        {
        margin: 0;
        padding: 0;
        }

.nav ul li
        {
        list-style: none;
        }

.nav ul li a
        {
        text-decoration: none;
        font-size: 24px;
        float: left;
        display: block;
        padding: 9px 20px;
        color: ivory;
        background: darkslategray;
        }

.nav ul li a:hover
        {
        text-decoration: underline;
        color: darkslategray;
        background: ivory;
        }
